<div class="w-full">
  <div class="flex items-center justify-between">
    <h1 class="text-4xl font-bold">Discover</h1>
  </div>
  <section class="py-24 mt-10 bg-white rounded-xl">
    <div class="max-w-3xl px-10 mx-auto xl:px-5">
      <% if flash[:warn] %>
        <div class="p-4 mb-4 text-sm text-yellow-700 bg-yellow-100 rounded-lg dark:bg-yellow-200 dark:text-yellow-800" role="alert">
          <span class="font-medium"><%= flash[:warn] %></span>
        </div>
      <% end %>
      <div class="flex flex-col justify-center space-y-8">
        <p class="w-full max-w-3xl mx-auto text-xl text-left text-[#561ff4] md:text-2xl">Ask AI to your next podcasts</p>

        <div class="flex flex-col w-full mx-auto mt-5 space-y-5 md:space-y-0 md:space-x-5 md:flex-row">
          <%= form_with(url: advice_discovers_path, method: :get, data: { turbo_frame: "podcasts_advice" }, html: { style: "width: inherit" }) do |form| %>
            <%= form.text_field :prompt, placeholder: "The most popular podcasts ever", class: "flex-1 w-full px-5 py-5 text-2xl bg-gray-200 border border-gray-300 rounded-lg focus:ring-4 focus:border-blue-600 focus:ring-blue-600 focus:ring-opacity-50 focus:outline-none placeholder-gray-500 placeholder-opacity-50" %>
          <% end %>
        </div>
        <div class="flex items-center justify-between w-full">
          <p class="text-gray-400 "><span class="font-medium text-gray-700">Remaining credit</span> <%= pretty_openai_quota %></p>
          <div class="text-sm text-gray-500">
            <span><%= link_to 'See old chats', all_responses_discovers_path %></span>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
