<div id="<%= dom_id podcast %>">
  <%= link_to(podcast) do %>
    <div class="grid content-around gap-4 grid-row-2">
      <div class="rounded-xl">
        <% if podcast.image_urls.any? %>
          <%= image_tag podcast.image_urls.first["url"], class:"rounded-xl" %>
        <% else %>
          <%= image_tag "podiscover.png", class:"rounded-xl" %>
        <% end %>
      </div>
      <div>
        <div class="text-lg">
          <%= podcast.name %>
        </div>
      </div>
    </div>
  <% end %>

  <hr class="h-px my-4 bg-gray-200 border-0 dark:bg-gray-700">

  <div class="flex flex-col justify-between h-1/4">
    <div class="text-xs font-medium text-gray-900">
      <%= link_to host_podcast_episodes_path(podcast) do %>
        <%= podcast.episodes.count %> Current Episodes
      <% end %>
    </div>
    <div class="text-xs font-medium text-gray-900">
      <%= podcast.total_likes_count %> Total Likes
    </div>
    <div class="text-xs font-medium text-gray-900">
      <%= podcast.total_comments_count %> Total comments
    </div>
  </div>
</div>


