<div id="<%= dom_id user %>">
  <%= link_to(user) do %>
    <div class="flex items-center">
      <div>
        <% if user.image_url.present? %>
          <%= image_tag user.image_url, class: "w-12 h-12 rounded-full border border-gray-100 shadow-sm" %>
        <% else %>
          <%= image_tag "default.png", class: "w-12 h-12 rounded-full border border-gray-100 shadow-sm" %>
        <% end %>
      </div>
      <div class="ml-4">
        <div class="text-lg font-bold"><%= user.nickname %></div> subscribes <%= user.podcasts.count %> podcasts
      </div>
    </div>
  <% end %>
</div>
