<div class="" id="<%= dom_id user %>">
  <%= link_to(user) do %>
    <div class="flex flex-col bg-white shadow-sm rounded-lg py-6 px-8 items-center justify-center">
      <div>
        <% if user.image_url.present? %>
          <%= image_tag user.image_url, class: "w-40 h-40 bg-white rounded-full border border-gray-100 shadow-sm" %>
        <% else %>
          <%= image_tag "default.png", class: "w-40 h-40 bg-white rounded-full border border-gray-100 shadow-sm" %>
        <% end %>
      </div>
      <div class="text-center mt-4">
        <div class="text-lg font-bold">
          <%= user.nickname %>
        </div>
        <p class="text-gray-400 mt-2">
          Subscribes <%= user.podcasts.count %> Podcasts
        </p>
      </div>
      <div class="mt-6 bg-primary text-white border border-transparent hover:bg-secondary hover:text-primary rounded-full px-6 py-2">
        View Profile
      </div>
    </div>
  <% end %>
</div>
