<div class="w-full">
  <div class="flex items-center justify-between">
    <h1 class="text-4xl font-bold"><%= @user.display_name %>'s Podcasts</h1> 
    <div class="stats">
      <a href="<%= following_user_path(@user) %>">
        <strong id="following" class="stat">
          <%= @user.following.count %>
        </strong>
        following
      </a>
      <a href="<%= followers_user_path(@user) %>">
        <strong id="followers" class="stat">
          <%= @user.followers.count %>
        </strong>
        followers
      </a>
    </div>  
    
    <% if current_user != @user %>
      <div id="follow_form">
        <% if current_user.following?(@user) %>
          <%= render 'shared/unfollow' %>
        <% else %>
          <%= render 'shared/follow' %>
        <% end %>
      </div>
    <% end %>
  </div>

  <div id="podcasts" class="grid min-w-full grid-cols-6 gap-4">
    <%= render @podcasts %>
  </div> 
</div>
