<% if user_signed_in? %>
  <strong><%= current_user.nickname %></strong>
  <%= button_to "Logout", destroy_user_session_path, method: :delete %>
  <hr />
  <div class="flex flex-col space-y-2 text-gray-400 font-semibold mt-5">
    <span>
      <%= link_to root_path, class: current_class?(activities_path) do %>
        <svg class="flex-shrink-0" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M22.4042 9.57873L13.2376 1.468C12.8996 1.16696 12.4582 1 12.0001 1C11.5421 1 11.1006 1.16696 10.7626 1.468L1.59607 9.57873C1.40839 9.74591 1.2585 9.94929 1.15592 10.1759C1.05334 10.4026 1.00033 10.6475 1.00024 10.8952V21.1703C0.992792 21.6203 1.15597 22.0572 1.45857 22.3975C1.63032 22.5876 1.84189 22.7398 2.07905 22.8437C2.31622 22.9476 2.57349 23.0009 2.83356 22.9999H8.3335C8.57661 22.9999 8.80976 22.9059 8.98167 22.7385C9.15358 22.5711 9.25015 22.3441 9.25015 22.1074V16.7523C9.25015 16.5156 9.34673 16.2886 9.51864 16.1212C9.69054 15.9538 9.9237 15.8598 10.1668 15.8598H13.8334C14.0765 15.8598 14.3097 15.9538 14.4816 16.1212C14.6535 16.2886 14.7501 16.5156 14.7501 16.7523V22.1074C14.7501 22.3441 14.8467 22.5711 15.0186 22.7385C15.1905 22.9059 15.4236 22.9999 15.6667 22.9999H21.1667C21.4708 23.0025 21.7705 22.9296 22.0375 22.788C22.3281 22.6339 22.5707 22.4066 22.7401 22.1298C22.9094 21.8531 22.9992 21.537 23 21.2149V10.8952C22.9999 10.6475 22.9469 10.4026 22.8443 10.1759C22.7417 9.94929 22.5919 9.74591 22.4042 9.57873V9.57873Z" fill="#F06B80"/>
        </svg>
        <span>Home</span>
        <% end %>
    </span>
    <span>
      <%= link_to subscriptions_path, class: current_class?('/subscriptions')  do %>
        <svg class="flex-shrink-0" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M10.5237 17.1429C11.8877 17.1429 13.1958 16.601 14.1603 15.6366C15.1247 14.6721 15.6666 13.364 15.6666 12V5.14286C15.6666 3.77889 15.1247 2.47078 14.1603 1.50631C13.1958 0.541835 11.8877 0 10.5237 0C9.15975 0 7.85164 0.541835 6.88717 1.50631C5.92269 2.47078 5.38086 3.77889 5.38086 5.14286V12C5.38086 13.364 5.92269 14.6721 6.88717 15.6366C7.85164 16.601 9.15975 17.1429 10.5237 17.1429Z" fill="#C56BF0"/>
          <path d="M18.281 12.0107C18.0567 11.9865 17.832 12.0517 17.6555 12.1921C17.479 12.3325 17.365 12.5368 17.3381 12.7607C17.1499 14.4362 16.3509 15.9837 15.0939 17.1074C13.8369 18.2312 12.2099 18.8524 10.5238 18.8524C8.83772 18.8524 7.21074 18.2312 5.95371 17.1074C4.69668 15.9837 3.89774 14.4362 3.70952 12.7607C3.68263 12.5368 3.56858 12.3325 3.39209 12.1921C3.2156 12.0517 2.99089 11.9865 2.76667 12.0107C2.65428 12.0213 2.54517 12.0543 2.44573 12.1078C2.3463 12.1612 2.25856 12.234 2.18768 12.3218C2.11679 12.4097 2.0642 12.5108 2.03299 12.6193C2.00178 12.7278 1.99259 12.8414 2.00595 12.9535C2.22517 14.8983 3.10575 16.7087 4.5003 18.0818C5.89485 19.4549 7.71874 20.3073 9.66667 20.4964V23.1428C9.66667 23.3701 9.75697 23.5882 9.91772 23.7489C10.0785 23.9097 10.2965 24 10.5238 24C10.7511 24 10.9692 23.9097 11.1299 23.7489C11.2906 23.5882 11.381 23.3701 11.381 23.1428V20.4964C13.3289 20.3073 15.1528 19.4549 16.5473 18.0818C17.9419 16.7087 18.8225 14.8983 19.0417 12.9535C19.055 12.8414 19.0458 12.7278 19.0146 12.6193C18.9834 12.5108 18.9308 12.4097 18.8599 12.3218C18.7891 12.234 18.7013 12.1612 18.6019 12.1078C18.5025 12.0543 18.3933 12.0213 18.281 12.0107Z" fill="#C56BF0"/>
        </svg>
        <span>Subscriptions</span>
      <% end %>
    </span>
    <span>
      <%= link_to user_path(current_user), class: current_class?(user_path(current_user)) do %>
        <svg class="flex-shrink-0" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M15.5416 16.2736C16.9419 15.3833 18.0188 14.0548 18.6097 12.4888C19.2005 10.9227 19.2733 9.20402 18.8169 7.59229C18.3605 5.98056 17.3999 4.56328 16.0799 3.55445C14.76 2.54561 13.1524 2 11.5 2C9.84759 2 8.24005 2.54561 6.92009 3.55445C5.60014 4.56328 4.63945 5.98056 4.18308 7.59229C3.72672 9.20402 3.79945 10.9227 4.39031 12.4888C4.98116 14.0548 6.05805 15.3833 7.45838 16.2736C5.01678 17.0451 2.84721 18.5169 1.21122 20.5116C1.10002 20.6428 1.02911 20.8041 1.00722 20.9758C0.985338 21.1474 1.01344 21.3217 1.08807 21.4773C1.15891 21.6337 1.27256 21.7661 1.41548 21.8588C1.5584 21.9515 1.72456 22.0005 1.89415 22H21.1058C21.2754 22.0005 21.4416 21.9515 21.5845 21.8588C21.7274 21.7661 21.8411 21.6337 21.9119 21.4773C21.9866 21.3217 22.0147 21.1474 21.9928 20.9758C21.9709 20.8041 21.9 20.6428 21.7888 20.5116C20.1528 18.5169 17.9832 17.0451 15.5416 16.2736Z" fill="#6B90F0"/>
        </svg>
        <span>Profile</span>
      <% end %>
    </span>
    <span>
      <%= link_to users_path, class: current_class?(users_path) do %>
        <svg class="flex-shrink-0" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M18.651 6.04759C17.2266 3.78997 15.375 1.84711 13.7643 0.251585C13.665 0.154055 13.5436 0.0814887 13.4101 0.039948C13.2767 -0.00159273 13.1352 -0.0109017 12.9974 0.0127987C12.8586 0.0344528 12.7272 0.0892486 12.6146 0.172454C12.502 0.255659 12.4115 0.364773 12.351 0.490372L8.96539 7.52372L5.43739 5.19013C5.24388 5.06324 5.00789 5.01648 4.78 5.05988C4.66694 5.08198 4.5594 5.12596 4.46352 5.18928C4.36763 5.2526 4.2853 5.33403 4.22122 5.42891C2.0847 8.61997 1 11.5071 1 14.0144C1 16.6627 2.062 19.2026 3.95236 21.0753C5.84273 22.9479 8.40662 24 11.08 24C13.7534 24 16.3173 22.9479 18.2076 21.0753C20.098 19.2026 21.16 16.6627 21.16 14.0144C21.16 11.3117 20.3383 8.7068 18.651 6.04759ZM17.5772 15.0129C17.3699 16.3819 16.7249 17.6488 15.7368 18.6276C14.7488 19.6064 13.4699 20.2454 12.088 20.4508H11.9565C11.7366 20.4491 11.5253 20.3657 11.3646 20.2169C11.2039 20.0682 11.1056 19.8651 11.089 19.6478C11.0725 19.4306 11.139 19.2151 11.2753 19.0442C11.4116 18.8732 11.6079 18.7593 11.825 18.725C12.8324 18.5628 13.7627 18.0908 14.4843 17.3759C15.2059 16.6611 15.6823 15.7395 15.8461 14.7416C15.8582 14.6246 15.8942 14.5113 15.9518 14.4086C16.0095 14.3058 16.0876 14.2157 16.1814 14.1437C16.2752 14.0717 16.3829 14.0194 16.4977 13.9898C16.6126 13.9603 16.7323 13.9542 16.8497 13.9718C16.967 13.9895 17.0795 14.0305 17.1803 14.0926C17.2811 14.1546 17.3682 14.2362 17.4362 14.3325C17.5043 14.4289 17.5518 14.5379 17.5761 14.653C17.6003 14.7681 17.6007 14.8868 17.5772 15.0021V15.0129Z" fill="#6BE8F0"/>
        </svg>
        <span>Community</span>
      <% end %>
    </span>
    <span>
      <%= link_to categories_path, class: current_class?(categories_path) do %>
        <svg class="flex-shrink-0" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M9.19746 2H3.79936C2.8056 2 2 2.8056 2 3.79936V9.19746C2 10.1912 2.8056 10.9968 3.79936 10.9968H9.19746C10.1912 10.9968 10.9968 10.1912 10.9968 9.19746V3.79936C10.9968 2.8056 10.1912 2 9.19746 2Z" fill="#F0BB6B"/>
          <path d="M9.19746 12.7962H3.79936C2.8056 12.7962 2 13.6018 2 14.5956V19.9937C2 20.9874 2.8056 21.793 3.79936 21.793H9.19746C10.1912 21.793 10.9968 20.9874 10.9968 19.9937V14.5956C10.9968 13.6018 10.1912 12.7962 9.19746 12.7962Z" fill="#F0BB6B"/>
          <path d="M19.9936 2H14.5955C13.6017 2 12.7961 2.8056 12.7961 3.79936V9.19746C12.7961 10.1912 13.6017 10.9968 14.5955 10.9968H19.9936C20.9874 10.9968 21.793 10.1912 21.793 9.19746V3.79936C21.793 2.8056 20.9874 2 19.9936 2Z" fill="#F0BB6B"/>
          <path d="M19.9936 12.7962H14.5955C13.6017 12.7962 12.7961 13.6018 12.7961 14.5956V19.9937C12.7961 20.9874 13.6017 21.793 14.5955 21.793H19.9936C20.9874 21.793 21.793 20.9874 21.793 19.9937V14.5956C21.793 13.6018 20.9874 12.7962 19.9936 12.7962Z" fill="#F0BB6B"/>
        </svg>
        <span>Categories</span>
      <% end %>
    </span>

    <span class="hidden admin:block">
      <%= link_to rails_admin_path, target: '_blank' do %>
        🧑‍💼&nbsp;&nbsp;
        <span>Admin</span>
      <% end %>
    </span>
  </div>
<% end %>