<div id="<%= dom_id episode %>">
	<%= link_to podcast_episode_path(@podcast, episode) do %>
		<p class="my-5">
	  	<strong class="block mb-1 font-medium">Name:</strong>
	  	<%= episode.name %>
		</p>
  <% end %>

	<p class="my-5">
		<strong class="block mb-1 font-medium">Language: <%= episode.language_emoji %></strong>
	</p>

	 <p class="my-5">
	 	 <strong class="block mb-1 font-medium">Release Date:</strong>
		  <%= episode.release_date %>
	 </p>

	<div id="<%= dom_id episode %>" class="my-5">
		<% last_likeable = current_user.activities.where(activatable_type: "Likeable").last&.likeable %>
		<% if last_likeable && last_likeable.episode_id == episode.id && last_likeable.action == 'liked' %>
			<%= render partial: 'episodes/likes', locals: { episode: episode, action: 'dislike' } %>
		<% else %>
			<%= render partial: 'episodes/likes', locals: { episode: episode, action: 'like' } %>
		<% end %>
	</div>
</div>
