<%  content_for :og_header do %>
  <%= tag(:meta, name: "twitter:card", content: "summary") %>
  <%= tag(:meta, name: "twitter:title", content: @episode.podcast.name) %>
  <%= tag(:meta, name: "twitter:description", content: @episode.html_description) %>
  <%= tag(:meta, name: "twitter:image", content: @episode.episode_image_urls.second.url) %>
  <%= tag(:meta, property: "og:title", content: @episode.podcast.name) %>
  <%= tag(:meta, property: "og:description", content: @episode.html_description) %>
  <%= tag(:meta, property: "og:image", content: @episode.episode_image_urls.second.url) %>
  <%= tag(:meta, property: "og:url", content: podcast_episode_url(@episode.podcast, @episode)) %>
<% end %>

<div class="w-full mx-auto">
  <div class="flex items-center justify-between">
    <h1 class="text-2xl font-bold"><%= link_to @episode.podcast.name, podcast_path(@episode.podcast), class: "text-red-600" %> / <%= @episode.name %></h1>
  </div>
  <div class="mt-10">
    <div class="flex flex-col items-center justify-start my-5 sm:flex-row">
      <% if @episode.episode_image_urls.any? %>
        <%= image_tag @episode.episode_image_urls.second.url %>
      <% else %>
        <%= image_tag "podiscover.png" %>
      <% end %>
      <div class="flex flex-col items-center">
        <div>
          <%= link_to @episode.external_urls, class: "flex items-center mb-4", target: "_blank" do %>
            <%= image_tag "spotify_logo.png", class: "ml-5 w-8 h-8" %>
            <span class="ml-2 bg-transparent text-[#1db954] font-semibold">Listen on Spotify</span>
          <% end %>
        </div>
        <div class="ml-4">
          <audio data-turbo-permanent id="white-noise-player" controls src=<%= @episode.audio_preview_url %>></audio>
        </div>
      </div>
    </div>
    <div class="mt-10">
      <div><%= sanitize @episode.html_description %></div>
    </div>

    <h1 class="mt-10 text-xl font-bold">Comments</h1>
    <% if @episode.comments.any? %>
      <%= render @episode.comments %>
    <% else %>
      <div class="mt-10">
        <div class="flex items-center justify-center">
          <div class="text-center">
            <div class="text-gray-600">No comments yet.</div>
          </div>
        </div>
      </div>
    <% end %>

    <% if current_user %>
      <div class="mt-10">
        <div><%= render partial: 'comments/form', locals: { comment: Comment.new, podcast: @episode.podcast, episode: @episode } %></div>
      </div>
    <% end %>
  </div>
</div>
