<div class="flex flex-row">
  <div class="mb-5 lg:w-3/4 divide-slate-200">
      <div class="justify-start p-8 bg-white rounded-xl">
        <div class="flex flex-col">
          <div class="flex flex-col sm:flex-row">
            <div class="flex flex-col items-center shrink-0">
              <% if @episode.episode_image_urls.any? %>
                <%= image_tag @episode.episode_image_urls.second.url, class:"rounded-xl" %>
              <% else %>
                <%= image_tag "podiscover.png", class:"rounded-xl" %>
              <% end %>
            </div>
            <div class="flex flex-col ml-0 sm:ml-5">
              <div class="text-3xl font-extrabold"><%= @episode.podcast.name %></div>
              <div class="mt-1 text-xl font-bold text-gray-500"><%= @episode.name %></div>
              <div class="mt-8 text-sm font-medium leading-relaxed text-gray-500"><%= sanitize @episode.html_description %></div>
            </div>
          </div>
        </div>
      </div>
      <h2 class="mt-5 text-2xl font-extrabold">Comments</h2>
      <% @episode.comments.each do |comment| %>
        <div class="p-8 mt-5 bg-white rounded-xl">
          <div class="pb-5 border-b-2 border-gray-100"><%= comment.body %></div>
          <div class="pt-5 text-xs font-thin">
            <%= link_to comment.user.display_name, user_path(comment.user), class: "text-blue-500 italic" %>
            <span class="ml-5"><%= comment.created_at.strftime("%d/%m/%Y") %></span>
          </div>
        </div>
      <% end %>
      </div>
    </div>
  </div>
</div>
