<div class="flex flex-row">
  <div class="mb-5 lg:w-3/4 divide-slate-200">
    <div class="mb-4">
      <h1 class="text-4xl font-bold">Subscriptions</h1>
    </div>

    <% if @subscriptions.empty? %>
      <div class="flex flex-col items-center justify-center p-12 bg-white rounded-xl">
        <p class="text-gray-500">😳 You need to follow some people to see their podcasts</p>
        <%= image_tag "not-found.svg", class:"my-12" %>
        <%=  link_to 'Find some cool people 🥳', users_path, class:"bg-primary text-white rounded-full px-6 py-2" %>
      </div>
    <% end %>

    <%= turbo_stream_from "activities" %>
    <div id="subscriptions" class="grid gap-4 2xl:grid-cols-4 xl:grid-cols-3 lg:grid-cols-2">
    </div>
    <%= turbo_frame_tag "pagination", src: subscriptions_path(format: :turbo_stream), loading: :lazy do %>
      <div class="flex items-center justify-center mt-10">
        <% unless @subscriptions.empty? %>
          <%= image_tag "spinner.gif" %>
        <% end %>
      </div>
    <% end %>
  </div>

  <div class="hidden w-1/4 ml-10 lg:block">
    <%= render partial: 'shared/rightbar', locals: { podcast: today_podcast } %>
  </div>
</div>
