<div class="p-4 transition-all bg-white hover:shadow hover:-translate-y-1 rounded-xl" id="<%= dom_id category %>">
  <%= link_to(category) do %>
    <div class="grid content-around grid-cols-2 grid-rows-2 gap-4">
      <% category.sample_podcasts.each do |podcast| %>
        <div>
          <% if podcast %>
            <%= image_tag podcast.image_urls.first.url, class: "object-cover rounded-xl" %>
          <% else %>
            <%= image_tag "podiscover.png", class: "object-cover rounded-xl" %>
          <% end %>
        </div>
      <% end %>
    </div>
    <div class="mt-4 text-lg">
      <%= category.name %>
    </div>
  <% end %>
</div>
