<% if category.podcasts.any? %>
  <div class="p-4 transition-all bg-white hover:shadow hover:-translate-y-1 rounded-xl" id="<%= dom_id category %>">
    <%= link_to(category) do %>
      <% if category.podcasts.sample(4).count == 4 %>
        <div class="grid content-around grid-cols-2 grid-rows-2 gap-4">
          <% category.podcasts.sample(4).each do |podcast| %>
            <div>
              <% if podcast && podcast.image_urls.any? %>
                <%= image_tag podcast.image_urls.first["url"], class: "object-cover rounded-xl" %>
              <% else %>
                <%= image_tag "podiscover.png", class: "object-cover rounded-xl" %>
              <% end %>
            </div>
          <% end %>
        </div>
      <% else %>
        <div class="grid content-around gap-4 grid-row-2">
          <div>
            <% if category.podcasts.any? && category.podcasts.sample.image_urls.any? %>
              <%= image_tag category.podcasts.sample.image_urls.first["url"], class: "object-cover rounded-xl" %>
            <% else %>
              <%= image_tag "podiscover.png", class: "object-cover rounded-xl" %>
            <% end %>
          </div>
        </div>
      <% end %>
      <div class="mt-4 text-lg">
        <%= category.name %>
      </div>
    <% end %>
  </div>
<% end %>

