<div class="flex flex-col gap-8">
  <div class="flex items-center justify-between">
    <h1 class="text-4xl font-bold"><%= @category.name %> Podcasts</h1>
  </div>

  <% if @podcasts.empty? %>
    <div class="flex flex-col items-center justify-center p-12 bg-white rounded-xl">
      <p class="text-gray-500">😳 You need to follow some people to see their podcasts</p>
      <%= image_tag "not-found.svg", class:"my-12" %>
      <%=  link_to 'Find some cool people 🥳', users_path, class:"bg-primary text-white rounded-full px-6 py-2" %>
    </div>
  <% end %>

  <div id="podcasts" class="grid min-w-full gap-4 2xl:grid-cols-6 xl:grid-cols-4 lg:grid-cols-2">
    <% @podcasts.each do |podcast| %>
      <div id="<%= dom_id podcast %>" class="p-4 transition-all bg-white hover:shadow hover:-translate-y-1 rounded-xl">
        <%= link_to(podcast) do %>
          <div class="grid content-around gap-4 grid-row-2">
            <% if podcast.image_urls.any? && podcast.image_urls.second %>
              <div class="rounded-xl">
                <%= image_tag podcast.image_urls.second["url"], class: "object-cover rounded-xl" %>
              </div>
            <% end %>
            <div class="text-lg">
              <%= podcast.name %>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
