<div class="flex flex-row">
  <div class="mb-5 lg:w-3/4 divide-slate-200">
    <div class="mb-4">
      <h1 class="text-4xl font-bold">Feed</h1>
    </div>

    <% if current_user.following.count.zero? %>
      <div class="my-10">
        <div class="flex flex-col items-center justify-center">
          <p class="text-gray-500">😳 You need to follow some people to see their activities</p>
          <%= link_to 'Find some cool people 🥳', users_path %>
        </div>
      </div>
    <% elsif @activities.empty? %>
          <div class="my-10">
        <div class="flex flex-col items-center justify-center">
          <p class="text-gray-500">😳 Your followings haven't done any activity yet </p>
        </div>
      </div>
    <% end %>

    <%= turbo_stream_from "activities" %>
    <div id="activities" class="space-y-4">
    </div>
    <%= turbo_frame_tag "pagination", src: activities_path(format: :turbo_stream), loading: :lazy do %>
      <div class="flex items-center justify-center mt-10">
        <% unless @activities.empty? %>
            <%= image_tag "spinner.gif" %>
        <% end %>
      </div>
    <% end %>
  </div>

  <div class="hidden w-1/4 ml-10 lg:block">
    <%= render partial: 'shared/rightbar', locals: { podcast: today_podcast } %>
  </div>
</div>
