<div class="mb-5 divide-y divide-slate-200">
  <% @activities.each do |activity| %>
    <div class="flex p-5">
      <div>
        <% if activity.user.image_url.present? %>
          <%= image_tag activity.user.image_url, class: "w-12 h-12 rounded-full border border-gray-100 shadow-sm" %>
        <% else %>
          <%= image_tag "default.png", class: "w-12 h-12 rounded-full border border-gray-100 shadow-sm" %>
        <% end %>
      </div>
      <div class="flex flex-col ml-5">
        <div class="font-bold">
          <%= activity.user.display_name %>
        </div>
        <div>
          <%= activity.listen.action %> listen to <%= link_to activity.listen.podcast.name, podcast_path(activity.listen.podcast), class: "text-[#561ff4]" %>
        </div>
      </div>
    </div>
  <% end %>
</div>
