<div id="<%= dom_id podcast %>">
  <%= link_to(podcast) do %>
    <div class="grid content-around gap-4 mt-6 grid-row-2">
      <div >
        <%= image_tag podcast.image_urls.second.url, class: "object-cover h-48 w-96" %>
      </div>
      <div class="text-lg">
        <%= podcast.name %>
      </div>      
    </div>
  <% end %>
  
  <% if controller_name == "podcasts" %>
    <div class="mt-3 text-xs font-thin">
      <%= link_to podcast.user.nickname, podcast.user, class: "text-blue-500" %> is listening
    </div>
  <% end %>
</div>
