<div id="<%= dom_id podcast %>">
  <div class="mt-6">    
    <%= image_tag podcast.image_urls.last.url %>
  </div>
  <p class="my-5">
    <strong class="block mb-1 font-medium">Name:</strong>
    <%= podcast.name %>
  </p>

  <p class="my-5">
    <strong class="block mb-1 font-medium">Publisher:</strong>
    <%= podcast.publisher %>
  </p>  

  <p class="my-5">
    <strong class="block mb-1 font-medium">Description:</strong>
    <%= podcast.description %>
  </p>

  <p class="my-5">
    <strong class="block mb-1 font-medium">Listen by:</strong>
    <%= podcast.user.email %>
  </p>  

  <% if action_name == "show" %>
    <p class="my-5">
      <%= link_to "Listen on Spotify", podcast.external_url %>
    </p>
  <% end %>  

  <% if action_name != "show" %>
    <%= link_to "Show this podcast", podcast, class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <hr class="mt-6">
  <% end %>
</div>
