<div class="flex w-full mx-auto">
  <div>
    <div class="flex items-center justify-start my-5">
      <%= image_tag @podcast.image_urls.last.url %>
      <% if action_name == "show" %>
        <%= link_to "Listen on Spotify", @podcast.external_url, class: "ml-5 bg-transparent text-[#1db954] font-semibold" %>
      <% end %>
    </div>

    <p class="my-5">
      <strong class="block mb-1 font-medium">Name:</strong>
      <%= @podcast.name %>
    </p>

    <p class="my-5">
      <strong class="block mb-1 font-medium">Publisher:</strong>
      <%= @podcast.publisher %>
    </p>  

    <p class="my-5">
      <strong class="block mb-1 font-medium">Description:</strong>
      <%= @podcast.description %>
    </p>

    <p class="my-5">
      Listening by <%= link_to @podcast.user.nickname, @podcast.user, class: "text-blue-500" %>
    </p>  
    
    <%= link_to 'Back to podcasts', podcasts_path, class: "font-medium" %>
  </div>
</div>
