<!DOCTYPE html>
<html>
  <head>
    <title>Podiscover</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <%= favicon_link_tag asset_path('podiscover.png')%>

    <% if content_for?(:og_header) %>
      <%= yield :og_header %>
    <% else %>
      <%= render "layouts/default_og_header" %>
    <% end %>

    <!-- Hotjar Tracking Code for https://www.podiscover.me -->
    <script>
        (function(h,o,t,j,a,r){
            h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
            h._hjSettings={hjid:2928185,hjsv:6};
            a=o.getElementsByTagName('head')[0];
            r=o.createElement('script');r.async=1;
            r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
            a.appendChild(r);
        })(window,document,'https://static.hotjar.com/c/hotjar-','.js?sv=');
    </script>
    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Manrope:wght@300;400;500;600&display=swap" rel="stylesheet">
  </head>

  <body class="flex flex-col h-screen overflow-hidden bg-gray-100" <%= 'data-admin' if  current_user && current_user.is_admin? %>>
    <header class="relative w-full px-8 text-gray-700 body-font bg-white shadow">
    
      <div class="flex items-center justify-between py-4">

        <%= render partial: 'shared/pd_logo' %>
        <div class="block lg:hidden">
          <%= render partial: 'shared/navbar' %>
        </div>
      </div>

    </header>

    <main class="flex flex-grow overflow-hidden">
      <div class="hidden lg:flex w-[280px] p-8 flex-col flex-shrink-0 bg-white shadow">
        <div class="flex flex-col h-full">
          <%= render partial: 'shared/navbar' %>

          <footer class="mt-auto">
            <%= render partial: 'shared/footer' %>
          </footer>
        </div>
      </div>

      <%= yield %>
    </main>

  </body>
</html>
