<!DOCTYPE html>
<html>
  <head>
    <title>Spotipods</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <main class="container flex px-5 mx-auto mt-28">
      <div>
        <% if user_signed_in? %>
          Logged in as <strong><%= current_user.email %></strong>.
          <%= button_to "Logout", destroy_user_session_path, method: :delete %>
        <% end %>
      </div>    
      <%= yield %>
    </main>
  </body>
</html>
