<!DOCTYPE html>
<html>
  <head>
    <title>Podiscover</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <%= favicon_link_tag asset_path('podiscover.png')%>

    <!-- Hotjar Tracking Code for https://www.podiscover.me -->
    <script>
        (function(h,o,t,j,a,r){
            h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
            h._hjSettings={hjid:2928185,hjsv:6};
            a=o.getElementsByTagName('head')[0];
            r=o.createElement('script');r.async=1;
            r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
            a.appendChild(r);
        })(window,document,'https://static.hotjar.com/c/hotjar-','.js?sv=');
    </script>
  </head>

  <body class="flex flex-col min-h-screen ">
    <section class="relative w-full px-8 text-gray-700 body-font">
      <div class="container flex flex-wrap items-center py-5 mx-auto md:flex-row max-w-7xl">
        <%= render partial: 'shared/pd_logo' %>
        <%= link_to "Podiscover", root_path, class: "relative z-10 flex items-center w-auto text-2xl font-extrabold leading-none text-black select-none" %>
      </div>
    </section>
    <main class="container flex flex-grow px-5 mx-auto mt-10">
      <div class="mr-10">
        <%= render partial: 'shared/navbar' %>
      </div>
      <div class="w-full">
        <%= yield %>
      </div>
    </main>
      <footer>
        <%= render partial: 'shared/footer' %>
      </footer>
  </body>
</html>
