<!DOCTYPE html>
<html>
  <head>
    <title>Spotipods</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <main class="container flex px-5 mx-auto mt-28">
      <div class="mr-10">
        <% if user_signed_in? %>
          <strong><%= current_user.email %></strong>
          <%= button_to "Logout", destroy_user_session_path, method: :delete %>
          <hr />
          <div class="flex flex-col mt-5">
            <span><%= link_to "ðŸ¡ Home", root_path, class: current_class?('/podcasts') %></span>
            <span><%= link_to "ðŸŽ™ My podcasts", dashboard_index_path, class: current_class?(dashboard_index_path) %></span>
          </div>
        <% end %>
      </div>
      <div class="w-full">
        <%= yield %>
      </div>     
    </main>
      <div>
        <%= render partial: 'shared/footer' %>
      </div>     
  </body>
</html>
